/* line 11, ../../sass/module/chat.scss */
.chat {
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}
/* line 14, ../../sass/module/chat.scss */
.chat nav {
  position: relative;
  -webkit-flex: 0 0 52px;
  flex: 0 0 52px;
}
/* line 24, ../../sass/module/chat.scss */
.chat .chat-dialog {
  padding: 20px;
  overflow-y: auto;
  min-height: 0;
  flex: 1 1 auto;
}
/* line 30, ../../sass/module/chat.scss */
.chat .chat-dialog ul li {
  position: relative;
  margin-top: 30px;
  background: #fff;
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  float: left;
  text-align: left;
  clear: both;
}
/* line 41, ../../sass/module/chat.scss */
.chat .chat-dialog ul li:before, .chat .chat-dialog ul li:after {
  right: 100%;
  top: 11px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 53, ../../sass/module/chat.scss */
.chat .chat-dialog ul li:after {
  border-width: 8px;
  margin-top: -8px;
  border-color: transparent;
  border-right-color: #fff;
}
/* line 59, ../../sass/module/chat.scss */
.chat .chat-dialog ul li:before {
  border-width: 9px;
  margin-top: -9px;
  border-color: transparent;
  border-right-color: #000;
}
/* line 64, ../../sass/module/chat.scss */
.chat .chat-dialog ul li.my-message {
  float: right;
  text-align: right;
}
/* line 68, ../../sass/module/chat.scss */
.chat .chat-dialog ul li.my-message:before, .chat .chat-dialog ul li.my-message:after {
  right: auto;
  left: 100%;
}
/* line 74, ../../sass/module/chat.scss */
.chat .chat-dialog ul li.my-message:after {
  border-width: 8px;
  margin-top: -8px;
  border-color: transparent;
  border-left-color: #fff;
}
/* line 79, ../../sass/module/chat.scss */
.chat .chat-dialog ul li.my-message:before {
  border-width: 9px;
  margin-top: -9px;
  border-color: transparent;
  border-left-color: #000;
}
/* line 84, ../../sass/module/chat.scss */
.chat .chat-dialog ul li.my-message i {
  left: auto;
  right: 0;
}
/* line 90, ../../sass/module/chat.scss */
.chat .chat-dialog ul li i {
  font-size: 75%;
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
}
/* line 100, ../../sass/module/chat.scss */
.chat .chat-control {
  margin: 20px;
  -webkit-flex: 0 0 40px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex: 0 0 40px;
  display: flex;
  flex-direction: row;
}
/* line 109, ../../sass/module/chat.scss */
.chat .chat-control .message-content {
  border-radius: 5px 0 0 5px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* line 115, ../../sass/module/chat.scss */
.chat .chat-control .send-message {
  border-radius: 0 5px 5px 0;
  border: none;
}
