@import "compass/css3";
@import "../theme/index";

$arrow-width: 8px;
@mixin message-arrows($width) {
  border-width: $width;
  margin-top: -$width;
  border-color: transparent;
}

.chat {
  height: 100%;

  nav {
    position: relative;
    @include flex(0 0 52px);
  }

  @include flexbox((
          display: flex,
          flex-direction: column
  ));

  .chat-dialog {
    padding: 20px;
    overflow-y: auto;
    min-height: 0;
    flex: 1 1 auto;

    ul li {
      position: relative;
      margin-top: 30px;
      background: #fff;
      border: 1px solid;
      padding: 10px;
      border-radius: 3px;
      float: left;
      text-align: left;
      clear: both;

      &:before,
      &:after{
        right: 100%;
        top: $arrow-width + 3;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        @include message-arrows($arrow-width);
        border-right-color: #fff;

      }

      &:before {
        @include message-arrows($arrow-width + 1);
        border-right-color: #000;
      }

      &.my-message{
        float: right;
        text-align: right;

        &:before,
        &:after{
          right: auto;
          left: 100%;
        }

        &:after {
          @include message-arrows($arrow-width);
          border-left-color: #fff;
        }

        &:before {
          @include message-arrows($arrow-width + 1);
          border-left-color: #000;
        }

        i {
          left: auto;
          right: 0;
        }
      }

      i {
        font-size: 75%;
        position: absolute;
        top: -20px;
        left: 0;
        height: 20px;
      }
    }
  }

  .chat-control {
    margin: 20px;

    @include flexbox((
            flex: 0 0 40px,
            display: flex,
            flex-direction: row
    ));

    .message-content {
      border-radius: 5px 0 0 5px;
      @include flexbox((
              flex: 1 1 auto
      ));
    }
    .send-message {
      border-radius: 0 5px 5px 0;
      border: none;
    }
  }
}
