@import "compass/css3";
@import "../theme/index";

nav {
  width: 100%;
  text-align: center;
  box-shadow: $shadow;
  position: relative;
  @include flexbox((
          display: flex,
          flex-direction: row
  ));

  .new-message {
    position: absolute;
    background: red;
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 20px;
    font-size: 50%;
    height: 20px;
    line-height: 20px;
    top: 50%;
    left: 10px;
    margin-top: -10px;
    box-shadow: $shadow;
    animation: blink-animation 1s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  a {
    text-transform: capitalize;
    text-decoration: none;
    color: $color-light;
    background: $primary-bg;
    padding: 15px;

    @include flexbox((
            flex: 1 1 130px
    ));
  }
}