$font-stack:    Helvetica, sans-serif;
$primary-bg: #673ab7;
$primary-color: #333;
$color-light: #fff;
$shadow: 0 2px 5px rgba(0,0,0,0.26);
$spiner: "//www.chimply.com/coconut/images/967471";

$arrows-size: 60px;
$arrows-position: -30px;